<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 md-truncate="" flex=""><a href="/">КамХаб</a> <sup>&alpha;</sup></h2>
    </div>
</md-toolbar>

<div layout-gt-sm="row" layout="column" class="doc-content">
    <div flex-gt-sm="100">
        <md-content>
            <h2>{{ camera.name }}</h2>
            <b>Login:Password</b>
            <p>
                {{ camera.login }}:{{ camera.password }}
            </p>
            <div ng-show="camera.online">
                <b>IP</b>
                <p>
                    {{ camera.ip }}
                </p>
                <b>XAddr</b>
                <p>
                    {{ camera.xaddrBase }}
                </p>
                <p>
                    <a ng-href="{{ camera.xaddr }}">{{ camera.xaddr }}</a>
                </p>
                <b>Links</b>
                <ul class="links">
                    <li ng-repeat="(name, link) in camera.links">{{ name }}: <a ng-href="{{ link }}">{{ link }}</a></li>
                </ul>
                <div ng-show="camera.links.Preview">
                    <b>Preview</b>
                    <p>
                        <img width="50%" src="{{ camera.links.Preview }}?cht={{ preview }}">
                    </p>
                </div>
            </div>
        </md-content>
    </div>
</div>
