<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 md-truncate="" flex=""><a href="/">КамХаб</a> <sup>&alpha;</sup></h2>
        <md-switch ng-show="loaded" ng-model="status.stand.on" aria-label="Status" ng-change="onChange(status.stand.on)"></md-switch>
    </div>
</md-toolbar>

<div layout-gt-sm="row" layout="column">
    <div flex-gt-sm="100">
        <md-content>
            <md-list>
                <md-subheader class="md-no-sticky">Камеры</md-subheader>
                <md-list-item ng-show="!loaded" class="md-2-line">
                    <md-progress-circular md-diameter="30px" md-mode="indeterminate"></md-progress-circular>
                </md-list-item>
                <md-list-item ng-show="loaded" class="md-2-line" ng-repeat="cam in cameras" ng-click="showCamera(cam)">
                    <img ng-show="cam.online" ng-src="icons/online.png" class="md-avatar" alt="logo" />
                    <img ng-show="!cam.online" ng-src="icons/offline.png" class="md-avatar" alt="logo" />
                    <div class="md-list-item-text" layout="column">
                        <h3></md-button> {{cam.name}}</h3>
                        <p>
                            <small ng-show="cam.online">{{ cam.ip }}</small>
                        </p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
